{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}Amogene{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/index2.css',null,false,version) }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="topContentBox">
            <div class="row">
                <div class="col-xs-12">
                    <div class="topContent">
                        <div class="logo">
                            <img src="{{ asset('/bundles/mirrorweb/images/index2Logo.png',null,false,version) }}" alt="">
                        </div>
                        <div class="sologen">
                            <p>破译美丽密码</p>
                            <p>了解肌肤秘密</p>
                            <p>实现精准护肤</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="logout">登出</a>
        </div>
        <div class="mainContentBox">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mainContent">
                        <div class="buyTitle">
                            <span>仅售</span>
                            <span>￥399</span>
                            <span class="buyIndex">立即购买</span>
                        </div>
                        <p>爱默美肤基因检测服务包，专门为亚洲人量身定制的基因检测服务，通过科学手段对影响您皮肤美丽的12个基因进行检测，从而对您皮肤的六个功能进行评估；美肤基因检测，帮助您精确定位您的皮肤状态、分析出最适合您的护肤产品成分，为您独家制定美肤方案，最大程度上为您节省不必要的护肤产品支出，实现精准、高效护肤。</p>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        <div class="bottmContentBox">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bottomContent">
                        <p>爱默基因（厦门）生物科技有限公司</p>
                        <p>Amogene Biotech Co., Ltd.</p>
                        <p>电话：0592-7821662</p>
                        <p>地址：厦门市厦门大学翔安校区庄瑾楼442</p>
                        <p>注册证编号：苏食药监械(准)字2013第2410224</p>
                        <p>产品专利号：200520047258,3</p>
                        <p>产品标准：YZB/苏0252-2013</p>
                        <img src="{{ asset('/bundles/mirrorweb/images/twocode.png',null,false,version) }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <span class="phoneImg">
                            <img src="{{ asset('/bundles/mirrorweb/images/bookIco.png',null,false,version) }}" alt="">
                        </span>
    </div>
{% endblock %}
{% block script %}
    <script>
        var status={{ status }}?{{ status }}:0;
        if(status!=0){
            $('.logout').show();
        }else{
            $('.logout').hide();
        }
        $('.buyIndex').click(function(){
            location.href=wxPath('/web/goods/2');
        });

        $('.logout').click(function () {
            ajaxAction("post",'/api/user/logout','',false,function(data,textStatus){
                location.href=wxPath('/web/face/index');
            },function(errno,errmsg){

            });
        });

    </script>
{% endblock  %}