<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/face.css') }}">
</head>

<body>
    <div id="page1" class="page">
        <div class="wrap">
            <header>
                <img src="{{ asset('/bundles/mirrorweb/images/face_logo.png') }}">
            </header>
            <form action="" method="post" class="pannel" id="info-form">
                <div class="basic">
                    <div>
                        <label for="name">姓名</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                        <label for="age">年龄</label>
                        <input type="number" name="age" id="age" required>
                    </div>
                    <div>
                        <label>性别</label>
                        <div class="radio-group">
                            <div>
                                <label><input type="radio" name="gender" value="1">男</label>
                            </div>
                            <div>
                                <label><input type="radio" name="gender" value="0" checked="checked">女</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="email">邮箱</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div>
                        <label for="phone">电话</label>
                        <input type="tel" name="telephone" id="telephone" required>
                    </div>
                </div>

                <div class="ability">
                    <div>
                        <label><input type="checkbox" value="1" name="ability" id="isUltraviolet">皮肤抗紫外线能力</label>
                    </div>

                    <div>
                        <label><input type="checkbox" value="2" name="ability" id="isSensitive">皮肤抗敏感能力</label>
                    </div>

                    <div>
                        <label><input type="checkbox" value="3" name="ability" id="isOxidation">皮肤抗氧化能力</label>
                    </div>

                    <div>
                        <label><input type="checkbox" value="4" name="ability" id="isLock">皮肤锁水能力</label>
                    </div>

                    <div>
                        <label><input type="checkbox" value="5" name="ability" id="isStain">皮肤色斑风险</label>
                    </div>

                    <div>
                        <label><input type="checkbox" value="6" name="ability" id="isElasticity">皮肤弹性</label>
                    </div>
                </div>
                <div class="info">
                    <button type="submit" class="commit"><span id="now"></span>确认提交</button>
                </div>
            </form>
        </div>
    </div>
    <div id="page2" class="page">
        <div class="wrap">
            <header>
                <img src="{{ asset('/bundles/mirrorweb/images/face_logo.png') }}">
            </header>
            <div class="pannel">
                <h4>邮寄地址：</h4>
                <div class="address">
                    <span>福建省厦门市翔安区</span>
                    <span>厦门大学（翔安校区）</span>
                    <span>药学院442</span>
                    <span>爱默基因生物科技有限公司</span>
                </div>
                <div class="note">
                    感谢您的填写，我们收到您的样品后会第一时间进行检测。
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
    <script src="{{ asset('/bundles/mirrorweb/js/face.js') }}"></script>
    <script src="{{ asset('/bundles/mirrorweb/js/admPublic.js') }}"></script>
    <script src="{{ asset('/bundles/mirrorweb/js/jquery.json.js') }}"></script>
    <script>
        var openId='{{ openId }}';
        checkWeiXinId(openId);
        $(document).ready(function () {
            var boxId={{ boxId }}?{{ boxId }}:0;
            ajaxAction("get",'/api/face/'+boxId,'',true,function(data,textStatus){
                if(data.status){
                    $('#name').val(data.name);
                    $('#age').val(data.age);
                    $("input[name='sex'][value='"+data.gender+"']").attr("checked",true);
                    $('#email').val(data.email);
                    $('#phone').val(data.telephone);
                    $('#isUltraviolet').attr('checked',true);
                    $('#isSensitive').attr('checked',true);
                    $('#isOxidation').attr('checked',true);
                    $('#isLock').attr('checked',true);
                    $('#isStain').attr('checked',true);
                    $('#isElasticity').attr('checked',true);
                }
            },function(errno,errmsg){

            });

            $('#info-form').on('submit', function(event) {
                event.preventDefault();

                var result = $('#info-form').serializeArray().reduce(function(obj, item) {
                    if (item.name === 'ability') {
                        obj[item.name] = obj[item.name] || [];
                        obj[item.name].push(item.value);
                        return obj;
                    }
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                result.abilities = result.ability || [];
                result.boxId=boxId;

                ajaxAction("post",'/api/face',result,false,function(data,textStatus){
                    $('#page1').hide();
                    $('#page2').show();
                },function(errno,errmsg){

                });
            })
        })
    </script>
</body>

</html>