{% extends 'MirrorWebBundle:Base:base.html.twig' %}
{% block title %}支付页面{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('/bundles/mirrorweb/css/orderPay.css') }}">
{% endblock %}
{% block body %}
<div id="container">
    <div class="orderPay">
        <div class="row">
            <div class="col-xs-12">
                <div class="orderNumBox">订单号：<span class="orderNo" style="color:blue"></span></div>
            </div>
            <div class="col-xs-12">
                <div class="input-box nameIco">
                    <!--<label for="">姓名</label>-->
                    <input type="text" placeholder="姓名" class="nameInput">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="input-box ageIco">
                    <!--<label for="">年龄</label>-->
                    <input type="text" placeholder="年龄" class="ageInput">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="input-box marriageIco">
                    <!--<label for="">婚姻状况</label>-->
                    <input type="text" placeholder="婚姻状况" class="marriageInput">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="userAddr">
                    请输入联系人地址及收货地址
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="productName">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="productNumAndPrice">
                    <ul>
                        <li id="number"></li>
                        <li><span>总计：</span><span class="price"></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 payTypeSelect">
                <div class="payType">
                    选择支付方式
                </div>
                <ul>
                    <li>
                        <span>
                            <img src="{{ asset('/bundles/mirrorweb/images/wechat.png') }}" alt="">
                        </span>
                        <div class="payAppInfo">
                            <p>微信</p>
                            <p>支持有微信，网银的用户使用</p>
                        </div>
                        <span><input type="radio" checked="checked"/></span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <div class="goodsInfoBuyButton">
                    <span class="price" style="color:red"></span>
                    <button class="btn btn-default btn-block detail-service">立即支付</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var orderId={{ orderId }};
    var address='{{ address }}'?'{{ address }}':'请输入联系人地址及收货地址';
    $('.userAddr').html(address);
    var JS_PARAM={};
    ajaxAction("get",'/api/order/'+orderId,'',false,function(data,textStatus){
        //获取订单信息填充进页面
        $('.orderNo').html(data.orderNo);
        $('#number').html('x'+data.number);
        $('.price').html('￥'+data.price);
        $('.productName').html(data.name);
    },function(errno,errmsg){
        console.log(errmsg);
    });



    $('.userAddr').click(function(){
        location.href=wxPath('/web/address/'+orderId);
    });

    $('.detail-service').click(function () {
        if($('.userAddr').html()=='请输入联系人地址及收货地址'){
            alert('请选择收货地址');
            return;
        }
        var info={};
        info.orderId=orderId;
        ajaxAction("post",'/api/order/pay',info,false,function(data,textStatus){
            JS_PARAM = data.jsApiParameters;
            JS_PARAM = $.evalJSON(JS_PARAM);
            callPay(orderId);
        },function(errno,errmsg){
            console.log(errmsg);
        });

        var orderInfo={};

        orderInfo.Address = $('.userAddr').text();
        orderInfo.IsMarried = $('.marriedIput').val();
        orderInfo.UserAge = $('.ageInput').val();
        orderInfo.UserName = $('.nameInput').val();

        ajaxAction("put",'/api/order',orderInfo,false,function(data,textStatus){
           alert(11111111111111);
            console.log(data);
        },function(errno,errmsg){
            console.log(errmsg);
        });


    });
    function jsApiCall($orderId)
    {
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                JS_PARAM,
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        location.href= wxPath('/web/index');
                    }
                    if(res.err_msg == "get_brand_wcpay_request:cancel" || res.err_msg == "get_brand_wcpay_request:fail"){
                        location.href= wxPath('/web/pay/'+$orderId);
                    }
                }
        );
    }

    function callPay($orderId)
    {
        var target=$('.detail-service');
        changeBind(target,true);
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
            changeBind(target,false);
        }else{
            jsApiCall($orderId);
            changeBind(target,false);
        }
    }
</script>
{% endblock  %}